In [1]:
import os
import pandas as pd

In [2]:
# tsv_files = [tmp for tmp in os.listdir('/mnt/c/users/scorp/Downloads') if "tsv.gz" in tmp]
# for tsv_file in tsv_files:
#     tmp_table = pd.read_table("/mnt/c/users/scorp/Downloads/" + tsv_file,sep='\t')
#     tmp_table.to_csv(os.curdir+tsv_file.replace('tsv.gz', 'csv'))

In [14]:
csv_files = os.listdir('./data/imdb')
csv_files

['aka_name.csv',
 'aka_title.csv',
 'cast_info.csv',
 'char_name.csv',
 'company_name.csv',
 'company_type.csv',
 'complete_cast.csv',
 'comp_cast_type.csv',
 'info_type.csv',
 'keyword.csv',
 'kind_type.csv',
 'link_type.csv',
 'movie_companies.csv',
 'movie_info.csv',
 'movie_info_idx.csv',
 'movie_keyword.csv',
 'movie_link.csv',
 'name.csv',
 'person_info.csv',
 'role_type.csv',
 'title.csv']

In [15]:
len(csv_files)

21

In [12]:
name_df = pd.read_csv(os.path.join(os.curdir, 'data', 'imdb', '.name.basics.csv'), index_col=0, na_values=["\\N", "NaN"])

In [13]:
name_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0050419,tt0031983,tt0072308,tt0053137"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0071877,tt0038355,tt0037382,tt0117057"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,music_department","tt0049189,tt0056404,tt0057345,tt0054452"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,soundtrack,writer","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0060827,tt0083922,tt0050976"
...,...,...,...,...,...,...
12093619,nm9993714,Romeo del Rosario,NaN,NaN,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
12093620,nm9993716,Essias Loberg,NaN,NaN,NaN,NaN
12093621,nm9993717,Harikrishnan Rajan,NaN,NaN,cinematographer,tt8736744
12093622,nm9993718,Aayush Nair,NaN,NaN,cinematographer,NaN
12093623,nm9993719,Andre Hill,NaN,NaN,NaN,NaN